@model GeekShopping.IdentityServer.MainModule.Account.RegisterViewModel

<div class="login-page">
    <div class="lead">
        <h1>Novo Registro de Usuario</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h4>Registro de nova conta Local</h4>
                </div>
                <hr/>

                <div class="card-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input class="form-control" placeholder ="Username (Regra-> Ex. Usuario-Admin ou Client Ex.: Fulano-Client)" asp-for="Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input class="form-control" placeholder="e-mail" asp-for="Email" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" type="hiden"></label>
                            <input class="form-control" placeholder="Primeiro Nome" asp-for="FirstName" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" type="hiden"></label>
                            <input class="form-control" placeholder="Sobre Nome" asp-for="LastName" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" placeholder="Password (Ex.: (Mxxxxx$)" asp-for="Password" autocomplete="off">
                        </div>
                        
                        <button class="btn btn-warning" name="button" value="Register">Registrar</button>                       
                    </form>
                </div>
                <br/>
                <div class="card-footer">
                    <a href="@Url.Action("Login",new {Model.ReturnUrl })"> Voltar patra tela de Login</a>
                </div>
            </div>
        </div>


    </div>
</div>
